.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    background-color: black;
    color: white;
  }

  .App {
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

 blockquote {
  font-style: italic;
  font-size: 32px;
  font-weight: bold;
  text-align: center; /* Centers the text horizontally */
  display: flex; /* Makes the blockquote a flex container */
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  transition: 0.5s;
}

blockquote:hover {
  -webkit-text-stroke: 0.8px #fff;
  color: transparent;
  cursor: none;
}

 cite {
    font-size: 24px;
}
  
 cite:hover {
    font-size: 24px;
    color: wheat;
    cursor: pointer;
}

cite a {
  color: inherit;
  text-decoration: none; /* remove the underline */
}

cite a:hover, cite a:visited {
  color:inherit;
}

a {
  color: inherit; /* make the link color the same as the surrounding text */
  text-decoration: none; /* remove the underline */
}

a:hover, a:visited {
  color: inherit; /* make the link color the same as the surrounding text when hovered or visited */
}

.quote-btn {
  margin-top: 10vh;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.quote-btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.quote-btn:active {
  color: #000
}

.quote-btn:active:after {
  background: transparent;
}

.quote-btn:hover:before {
  opacity: 1;
}

.quote-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
